.App {
  text-align: center;
}

.Nav_link {
  padding: 10px;
  border: 2px solid black;
}

.Reviews_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Review {
  list-style-type: none;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  width: 400px;
  height: 280px;
}

.Review_img {
  width: 300px;
  height: 200px;
}
