.App {
  text-align: center;
}

.Nav_link {
  padding: 10px;
  border: 2px solid black;
}

/* Review */
.Reviews_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Review {
  list-style-type: none;
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
  text-align: left;
  width: 300px;
  height: 350px;
}

.Review_img {
  width: 300px;
  height: 200px;
}

/* SingleReview */
.single-review {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  margin: 1vw;
}

.single-review-img-title {
  text-align: left;
  float: left;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 3vw;
  grid-column-start: 1;
  /* width: 40vw; */
  /* border: 2px solid black; */
}

.single-review-img {
  width: 40vw;
}

.single-review-body {
  text-align: left;
  float: right;
  /* border: 2px solid black; */
  margin-top: 50px;
  padding-top: 20px;
  margin-right: 30px;
  margin-left: 5px;
  grid-column-start: 2;
  width: 50vw;
  height: auto;
}

.single-review-posted-container {
  white-space: nowrap;
}

.single-review-posted {
  display: inline-block;
  font-size: 17px;
}

.single-review-designer-container {
  white-space: nowrap;
}

.single-review-designer {
  display: inline-block;
  font-size: 17px;
}

.single-review-category-container {
  white-space: nowrap;
}

.single-review-category {
  display: inline-block;
  font-size: 17px;
}

.single-review-date-container {
  white-space: nowrap;
}

.single-review-date {
  display: inline-block;
  font-size: 17px;
}

.comments {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

/* Comments */
.comment-line {
  width: 95vw;
  margin: 20px;
}

.comment-title {
  text-align: left;
  margin-left: 2vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: gray;
}

.comment-list {
  list-style: none;
  margin: 1vw;
}

.user-avatar {
  width: 75px;
  height: 75px;
  float: left;
  margin: 10px;
  border-radius: 50%;
  border: 1px solid grey;
}

.single-comment-container {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
}

.single-comment-header {
  display: inline;
}

.single-comment-text {
  text-align: left;
  margin: 1vw;
}

#single-comment-date {
  color: grey;
  font-size: 14px;
}
